.footer {

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 49px;
        padding-bottom: 49px;        
    }

    &__logo {
        display: flex;
        align-items: center;

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ECE8D9;
            margin-right: 12px; 
        }

        &__title {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1px;
            color: #333333;
            margin-right: 33px;
        }
    }

    &__navigation {

        &__link {
            margin-left: 34px;
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.42px;
            color: #1C3F3A;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__bottom {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #F1F3F3;

        &__items {
            display: flex;
            justify-content: space-between;
        }
    }

    &__copyright {

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 0.42px;            
            color: #102226; 
        }

        a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.42px;
            color: #26534C;
        }
    }

    &__link {
        margin-left: 57px;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.42px;
        color: #1C3F3A;


        &:first-child {
            margin-left: 0;
        }
    }
}
