.create {
    margin-top: 115px;    
       
    &__title {
        position: relative;
        width: 431px;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 1.44px;
        color: #102226; 

        &::after {
            position: absolute;
            content: '';
            top: -34px; 
            left: -45px;
            width: 124px;
            height: 126px;
            background-image: url("../images/create/icon_sun_min.svg");
            background-repeat: no-repeat;
            z-index: -1;
        }    
        
        &::before {
            position: absolute;
            content: '';
            top: 0; 
            right: -676px;
            width: 185px;
            height: 185px;
            background-image: url("../images/create/wave.png");
            background-repeat: no-repeat;            
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 70px;
        margin-top: 72px;
    }

    &__item {
        position: relative;
        width: 425px;
        padding: 41px 66px 45px 41px;
        border: 1px solid #DDE3E4;

        &::after {
            position: absolute;
            content: '';
            width: 256px;
            height: 256px;
            top: 0; 
            right: 0;
            background-image: url("../images/create/icon_sun.svg");
            background-position-x: right;
            background-repeat: no-repeat;
        }

        &__img {
            margin-bottom: 32px;            
        }

        &__title {
            font-weight: 400;
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0.96px;            
            color: #102226;
            margin-bottom: 20px;
        }

        &__text {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 11px;
            line-height: 32px;
            letter-spacing: 0.32px;
            color: #485B60;
            margin-bottom: 30px;
        }

        &__link {
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.28px;
            color: #102226;
            padding: 4px 28px 4px 0;

            &::after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                top: 7px;
                right: 7px;
                background-image: url("../images/create/icon_arrow.svg");
                background-repeat: no-repeat;
            }
        }
    }
}